[submodule "riscv-qemu-tests"]
	path = third_party/qemu-tests
	url = https://github.com/arsv/riscv-qemu-tests.git
[submodule "asmjit"]
	path = third_party/asmjit
	url = https://github.com/michaeljclark/asmjit.git
[submodule "meta"]
	path = meta
	url = https://github.com/michaeljclark/riscv-meta.git
