dir /dev 755 0 0
nod /dev/null 666 0 0 c 1 3
nod /dev/console 644 0 0 c 5 1
nod /dev/loop0 644 0 0 b 7 0
dir /etc 755 0 0
file /etc/inittab initramfs/inittab 755 0 0
dir /sbin 755 0 0
slink /sbin/init /bin/busybox 777 0 0
dir /bin 755 0 0
slink /bin/ash /bin/busybox 777 0 0
file /bin/busybox initramfs/busybox 755 0 0
dir /usr 755 0 0 
dir /usr/bin 755 0 0
dir /usr/sbin 755 0 0
dir /proc 755 0 0
dir /sys 755 0 0
dir /mnt 755 0 0
